mixin socials()
    +b.SECTION.socials
        +e.H3.title Присоединяйтесь
        +e.UL.list
            +e.LI.item
                +e.A.link.--instagram(href='https://instagram.com/olalaknail?utm_source=ig_profile_share&igshid=1y1uteqw8u4f6' target="_blank" rel="noopener noreferrer" title='Наш instagram')
            +e.LI.item
                +e.A.link.--facebook(href='https://www.facebook.com/Olalaknail-148332759417691/' target="_blank" rel="noopener noreferrer" title='Наша группа в facebook')