mixin socials()
    +b.SECTION.socials
        +e.H3.title Присоединяйтесь
        +e.UL.list
            +e.LI.item
                +e.A.link.--instagram(href='instagram.com' title='Наш instagram')
            +e.LI.item
                +e.A.link.--facebook(href='facebook.com' title='Наша группа в facebook')