@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Light.woff2") format("woff2"), url("../fonts/Roboto_Condensed/RobotoCondensed-Light.woff") format("woff"); }

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.woff") format("woff"); }

/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.advantages {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  color: #050505;
  line-height: normal;
  background-color: #727075;
  background-image: url("../images/advantages/background_s.jpg");
  background-size: cover;
  background-position: center; }

.advantages__title {
  margin-bottom: 24px; }

.advantages__list {
  margin: 0 0 80px;
  padding: 0 10px;
  list-style: none; }

.advantages__item {
  position: relative;
  margin-bottom: 24px;
  padding-left: 35px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400; }
  .advantages__item:last-child {
    margin-bottom: 0; }
  .advantages__item:before {
    content: '';
    position: absolute;
    width: 19px;
    height: 19px;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background-image: url("../images/advantages/check.svg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -webkit-box-shadow: 0px 2px 7px rgba(230, 95, 37, 0.5);
            box-shadow: 0px 2px 7px rgba(230, 95, 37, 0.5); }

@media (min-width: 768px) {
  .advantages {
    background-image: url("../images/advantages/background_m.jpg"); }
  .advantages__list {
    padding-left: 34px; } }

@media (min-width: 1440px) {
  .advantages {
    padding-top: 80px;
    padding-bottom: 40px;
    background-image: url("../images/advantages/background_l.jpg"); }
  .advantages__title {
    margin-bottom: 48px; }
  .advantages__list {
    padding-left: 40px; }
  .advantages__item {
    padding-left: 68px;
    margin-bottom: 48px;
    font-size: 32px; }
    .advantages__item::before {
      width: 36px;
      height: 36px; } }

.appeal {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  color: #050505;
  line-height: normal; }

.appeal__title {
  margin-bottom: 24px; }

.appeal__button {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #ffffff;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border-radius: 20px;
  background-color: #E75F25;
  cursor: pointer;
  text-decoration: none;
  border: none;
  -webkit-box-shadow: 0px 4px 12px rgba(230, 95, 37, 0.5);
          box-shadow: 0px 4px 12px rgba(230, 95, 37, 0.5);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  max-width: 240px;
  padding: 9px 20px;
  margin: 0 auto 16px; }
  .appeal__button:hover, .appeal__button:active, .appeal__button:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #c34a16; }
  .appeal__button:active {
    background-color: #963810; }
  @media (min-width: 1440px) {
    .appeal__button {
      -webkit-box-shadow: 0px 7.44161px 22.3248px rgba(230, 95, 37, 0.5);
              box-shadow: 0px 7.44161px 22.3248px rgba(230, 95, 37, 0.5); } }

.appeal__phone {
  margin: 0;
  font-size: 14px;
  text-align: center; }

@media (min-width: 768px) {
  .appeal__title .title {
    font-size: 20px; } }

@media (min-width: 1440px) {
  .appeal {
    padding-top: 80px;
    padding-bottom: 40px; }
  .appeal__title {
    margin-bottom: 32px; }
    .appeal__title .title {
      font-size: 38px; }
  .appeal__button {
    max-width: 448px;
    padding: 18px 36px;
    margin-bottom: 32px;
    border-radius: 38px;
    font-size: 32px; }
  .appeal__phone {
    font-size: 26px; } }

.inner {
  position: relative;
  width: 100%;
  margin: 0 auto;
  min-width: 300px;
  max-width: 480px;
  padding: 0 10px; }

@media (min-width: 481px) {
  .inner {
    max-width: 740px; } }

@media (min-width: 768px) {
  .inner {
    max-width: 840px;
    padding: 0 40px; } }

@media (min-width: 1440px) {
  .inner {
    max-width: 1440px;
    padding: 0 80px; } }

.main-footer {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  color: #ffffff;
  line-height: normal; }

.main-footer__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.main-footer__logo {
  width: 100px; }
  .main-footer__logo img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%; }

.main-footer__phone {
  font-size: 12px;
  text-align: right;
  margin-left: auto; }

.main-footer__phone-number {
  display: none;
  position: relative;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  -webkit-transition: color 300ms ease;
  -moz-transition: color 300ms ease;
  transition: color 300ms ease; }
  .main-footer__phone-number:hover, .main-footer__phone-number:active, .main-footer__phone-number:focus {
    text-decoration: none;
    color: #d9d9d9; }
  .main-footer__phone-number--mobile {
    display: block; }

.main-footer__phone-time {
  font-weight: 700; }

.main-footer__legal {
  margin: 16px auto 0;
  text-align: center;
  font-size: 12px; }

@media (min-width: 768px) {
  .main-footer__row {
    position: relative;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .main-footer__logo {
    width: 100px;
    margin: 0;
    margin-right: 20px; }
    .main-footer__logo img {
      width: 100%; }
  .main-footer__legal {
    max-width: 180px;
    margin: 0 auto;
    text-align: center; }
  .main-footer__phone {
    -webkit-box-ordinal-group: 3;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0; }
  .main-footer__phone-number {
    display: block; }
    .main-footer__phone-number--mobile {
      display: none; } }

@media (min-width: 1440px) {
  .main-footer__logo {
    width: 186px; }
  .main-footer__legal {
    max-width: 340px;
    font-size: 22px; }
  .main-footer__phone {
    font-size: 22px; }
  .main-footer__phone-number {
    font-size: 34px; } }

.main-header {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  color: #ffffff;
  line-height: normal; }

.main-header__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.main-header__logo {
  width: 100%;
  margin: 36px auto 0; }
  .main-header__logo img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    width: 179px;
    margin: 0 auto; }

.main-header__info {
  max-width: 150px;
  margin: 0;
  text-align: left;
  font-size: 10px; }

.main-header__phone {
  font-size: 12px;
  text-align: right; }

.main-header__phone-number {
  display: none;
  position: relative;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  -webkit-transition: color 300ms ease;
  -moz-transition: color 300ms ease;
  transition: color 300ms ease; }
  .main-header__phone-number:hover, .main-header__phone-number:active, .main-header__phone-number:focus {
    text-decoration: none;
    color: #d9d9d9; }
  .main-header__phone-number--mobile {
    display: block; }

.main-header__phone-time {
  font-weight: 700; }

@media (min-width: 768px) {
  .main-header__row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .main-header__logo {
    -webkit-box-ordinal-group: 0;
       -moz-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100px;
    margin: 0;
    margin-right: 30px; }
    .main-header__logo img {
      width: 100%; }
  .main-header__info {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px; }
  .main-header__phone-number {
    display: block; }
    .main-header__phone-number--mobile {
      display: none; } }

@media (min-width: 1440px) {
  .main-header__logo {
    width: 186px; }
  .main-header__info {
    max-width: 490px;
    font-size: 22px; }
  .main-header__phone {
    font-size: 22px; }
  .main-header__phone-number {
    font-size: 34px; } }

.modal {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif; }

.modal-dialog {
  width: 80%;
  max-width: 480px;
  margin: 0 auto;
  margin-top: 50px; }

.modal-header {
  padding: 0;
  border: none; }
  .modal-header .close {
    position: absolute;
    z-index: 99;
    top: 5px;
    right: 15px;
    font-size: 30px;
    font-weight: 100;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2; }

.modal-title {
  margin: 0;
  max-width: 285px;
  margin: 0 auto;
  padding-top: 30px;
  font-weight: 400;
  font-size: 15px;
  text-align: center; }

.modal-legal {
  margin-top: 10px;
  font-size: 10px; }

#modalLegal .modal-dialog,
#payLegal .modal-dialog {
  max-width: 700px; }

#modalLegal .modal-content,
#payLegal .modal-content {
  padding: 25px; }

.modal-body {
  padding: 0; }

.modal-content {
  border: none;
  background-color: #fff; }

.modal-form {
  padding: 55px 20px 25px;
  max-width: 325px;
  margin: 0 auto; }

.has-title .modal-form {
  padding-top: 15px; }

.modal-input-row {
  margin-bottom: 30px; }

.modal-label {
  margin-bottom: 10px;
  color: #131313;
  font-size: 15px;
  font-weight: 300; }

.modal-input {
  width: 100%;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  background-color: #fff;
  color: #131313;
  font-size: 15px;
  font-weight: 300; }
  .modal-input::-webkit-input-placeholder {
    color: #1f1f1f; }
  .modal-input:-moz-placeholder {
    color: #1f1f1f; }
  .modal-input:-ms-input-placeholder {
    color: #1f1f1f; }
  .modal-input::placeholder {
    color: #1f1f1f; }
  textarea.modal-input {
    max-width: 100%;
    min-width: 100%;
    min-height: 50px;
    max-height: 150px; }

.modal-submit {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin: 0 auto;
  border-radius: 50px;
  border: 1px solid #E75F25;
  background-color: #E75F25;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease; }
  .modal-submit[disabled] {
    background-color: grey;
    border: 1px solid grey;
    cursor: initial; }
    .modal-submit[disabled]:hover, .modal-submit[disabled]:active, .modal-submit[disabled]:focus {
      color: #ffffff;
      background-color: grey; }
  .modal-submit:hover, .modal-submit:active, .modal-submit:focus {
    color: #ffffff;
    background-color: #c34a16; }
  .modal-submit:active {
    background-color: #963810; }

body.modal-open {
  overflow: auto !important;
  padding-right: 0 !important; }

@media (max-width: 480px) {
  .modal-dialog {
    width: 80%;
    max-width: 360px; }
  .modal-form {
    padding-top: 25px; }
  .modal-submit {
    font-size: 16px; } }

.prices {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  color: #050505;
  line-height: normal; }

.prices__title {
  margin-bottom: 24px; }

.prices__content {
  width: 100%; }

.prices__table {
  margin-bottom: 40px; }
  .prices__table:last-child {
    margin-bottom: 0; }

.prices__table-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 700;
  text-align: center; }

.prices__table-wrapper {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden; }

.prices__table-data {
  position: relative;
  display: block;
  width: 100%;
  background-color: #aaa;
  overflow: hidden;
  border-collapse: collapse; }

.prices__table-header {
  position: relative;
  display: block;
  width: 100%;
  overflow: visible; }
  .prices__table-header th {
    padding: 10px;
    background-color: #E75F25;
    border: 2px solid white;
    min-width: 190px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    color: #ffffff; }
    .prices__table-header th:first-child {
      position: relative;
      min-width: 105px;
      -webkit-box-shadow: 0 0 0 1px white;
              box-shadow: 0 0 0 1px white;
      border-left-width: 0; }

.prices__table-body {
  position: relative;
  display: block;
  width: 100%;
  margin-top: -2px;
  height: 439px;
  overflow: scroll; }

.prices__table-cell {
  background-color: #FCFCFC;
  border: 2px solid white;
  min-width: 190px;
  font-size: 12px; }
  .prices__table-cell:nth-child(1) {
    position: relative;
    background-color: #F2F2F2;
    min-width: 105px;
    -webkit-box-shadow: 0 0 0 1px white;
            box-shadow: 0 0 0 1px white;
    border-left-width: 0; }
  .prices__table-cell:nth-child(2) .prices__cell-data {
    text-align: left; }
  .prices__table-cell.prices__table-cell--no-padding {
    padding: 0; }

.prices__table-data--type1 .prices__table-cell:nth-child(1) {
  font-size: 14px;
  font-weight: 700; }

.prices__table-data--type1 .prices__table-cell:nth-child(2) {
  font-size: 10px; }

.prices__cell-data {
  display: block;
  padding: 10px;
  text-align: center; }

.prices__cell-data-item {
  display: block;
  margin-bottom: 10px; }
  .prices__cell-data-item:last-child {
    margin-bottom: 0; }

.prices__inner-table {
  width: 100%;
  height: 100%; }
  .prices__inner-table tr:nth-child(2n) td {
    background-color: #ffffff; }

.prices__inner-cell {
  padding: 12px 16px;
  font-size: 12px;
  text-align: center; }

.prices__additional {
  font-size: 12px;
  font-weight: 400; }

.prices__additional-paragraph {
  margin: 0;
  margin-bottom: 12px; }
  .prices__additional-paragraph:last-child {
    margin-bottom: 0; }

@media (min-width: 768px) {
  .prices__table-data {
    display: table;
    width: 100%;
    overflow-y: auto;
    table-layout: fixed; }
  .prices__table-cell {
    display: table-cell; }
  .prices__table-header {
    display: table-header-group; }
    .prices__table-header th {
      padding: 16px; }
      .prices__table-header th:first-child {
        width: 160px; }
      .prices__table-header th:nth-child(2) {
        width: 305px; }
  .prices__table-body {
    display: table-row-group; }
  .prices__table-row {
    display: table-row;
    width: 100%; }
  .prices__table-cell {
    padding: 16px; }
    .prices__table-cell:first-child {
      width: 160px; }
    .prices__table-cell:nth-child(2) {
      width: 305px; } }

@media (min-width: 1440px) {
  .prices {
    padding-top: 80px;
    padding-bottom: 80px; }
  .prices__title {
    margin-bottom: 48px; }
  .prices__table-title {
    margin-bottom: 32px;
    font-size: 32px; }
  .prices__table {
    margin-bottom: 80px; }
  .prices__table-wrapper {
    margin-bottom: 40px; }
  .prices__table-header th {
    padding: 16px 30px;
    border: 3px solid white;
    font-size: 22px; }
    .prices__table-header th:first-child {
      width: 295px; }
    .prices__table-header th:nth-child(2) {
      width: 567px; }
  .prices__table-cell {
    border: 3px solid white;
    font-size: 22px; }
  .prices__table-data--type1 .prices__table-cell:nth-child(1) {
    font-size: 26px; }
  .prices__table-data--type1 .prices__table-cell:nth-child(2) {
    font-size: 18px; }
  .prices__table-data--type2 .prices__table-header th {
    padding: 28px; }
    .prices__table-data--type2 .prices__table-header th:nth-child(2) {
      width: 440px; }
    .prices__table-data--type2 .prices__table-header th:nth-child(3) {
      width: 268px; }
  .prices__cell-data-item {
    margin-bottom: 18px; }
  .prices__inner-cell {
    font-size: 22px; }
  .prices__additional {
    font-size: 22px; }
  .prices__additional-paragraph {
    margin-bottom: 20px; } }

.problems {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  color: #050505;
  line-height: normal; }

.problems__title {
  margin-bottom: 24px; }

.problems__list {
  list-style: none;
  padding: 0 10px;
  margin: 0; }

.problems__col {
  margin-bottom: 20px; }
  .problems__col:last-child {
    margin-bottom: 0; }

.problems__item {
  position: relative;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .problems__item:last-child {
    margin-bottom: 0; }

.problems__image {
  position: relative;
  width: 30px;
  height: 30px;
  -webkit-box-flex: 0;
     -moz-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  margin-right: 16px; }
  .problems__image svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    fill: url("#svg-linear-gradient"); }

.problems__content {
  width: 100%;
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.problems__item-text {
  display: block;
  font-size: 14px; }

.problems__additional-text {
  display: block;
  font-size: 10px; }

@media (min-width: 768px) {
  .problems__list-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }
  .problems__col {
    width: 50%;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .problems__list {
    width: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap; }
  .problems__item:first-child {
    margin-top: auto; }
  .problems__item:last-child {
    margin-bottom: auto; } }

@media (min-width: 1440px) {
  .problems {
    padding-top: 80px;
    padding-bottom: 80px; }
  .problems__title {
    margin-bottom: 48px; }
  .problems__list {
    padding: 0 35px; }
  .problems__item {
    margin-bottom: 40px; }
  .problems__image {
    width: 56px;
    height: 56px;
    -webkit-box-flex: 0;
       -moz-box-flex: 0;
        -ms-flex: 0 0 56px;
            flex: 0 0 56px;
    margin-right: 32px; }
    .problems__image svg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      fill: url("#svg-linear-gradient"); }
  .problems__item-text {
    font-size: 26px; }
  .problems__additional-text {
    font-size: 18px; } }

.services {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  color: #050505;
  line-height: normal; }

.services__title {
  margin-bottom: 36px; }

.services__list-wrapper {
  margin-bottom: 36px; }

.services__col {
  margin-bottom: 24px; }
  .services__col:last-child {
    margin-bottom: 0; }

.services__list {
  padding: 0 10px;
  margin: 0;
  list-style: none; }

.services__item {
  position: relative;
  padding-left: 22px;
  margin-bottom: 24px; }
  .services__item:last-child {
    margin-bottom: 0; }
  .services__item::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: 0;
    top: 7px;
    border-radius: 50%;
    background-color: #F0AB52;
    -webkit-box-shadow: 0px 4px 4px rgba(240, 171, 82, 0.3);
            box-shadow: 0px 4px 4px rgba(240, 171, 82, 0.3); }

.services__name {
  font-size: 20px;
  font-weight: 700; }

.services__price {
  font-size: 16px;
  font-weight: 400; }

.services__button {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #ffffff;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border-radius: 20px;
  background-color: #E75F25;
  cursor: pointer;
  text-decoration: none;
  border: none;
  -webkit-box-shadow: 0px 4px 12px rgba(230, 95, 37, 0.5);
          box-shadow: 0px 4px 12px rgba(230, 95, 37, 0.5);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  max-width: 240px;
  padding: 10px 20px;
  margin: 0 auto; }
  .services__button:hover, .services__button:active, .services__button:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #c34a16; }
  .services__button:active {
    background-color: #963810; }
  @media (min-width: 1440px) {
    .services__button {
      -webkit-box-shadow: 0px 7.44161px 22.3248px rgba(230, 95, 37, 0.5);
              box-shadow: 0px 7.44161px 22.3248px rgba(230, 95, 37, 0.5); } }

@media (min-width: 768px) {
  .services__list-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }
  .services__col {
    width: 50%;
    margin: 0; }
  .services__list {
    padding: 0 33px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap; } }

@media (min-width: 1440px) {
  .services {
    padding-top: 80px;
    padding-bottom: 80px; }
  .services__title {
    margin-bottom: 72px; }
  .services__list-wrapper {
    margin-bottom: 72px; }
  .services__list {
    padding: 0 54px; }
  .services__item {
    margin-bottom: 48px;
    padding-left: 43px; }
    .services__item::before {
      width: 19px;
      height: 19px;
      top: 15px; }
  .services__name {
    margin-bottom: 5px;
    font-size: 38px; }
  .services__price {
    font-size: 32px; }
  .services__button {
    max-width: 448px;
    padding: 18px 36px;
    border-radius: 38px;
    font-size: 32px; } }

.svg-gradient {
  position: absolute;
  width: 0;
  height: 0;
  left: -9999px; }

.testimonials {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  color: #050505;
  line-height: normal; }

.testimonials__title {
  margin-bottom: 24px; }

.testimonials__slider .slick-arrow {
  position: absolute;
  width: 17px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  font-size: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.testimonials__slider .slick-prev {
  left: -10px;
  background-image: url("../images/slick-arrow-left.svg"); }

.testimonials__slider .slick-next {
  right: -10px;
  background-image: url("../images/slick-arrow-right.svg"); }

.testimonials__slide {
  padding: 0 10px; }

.testimonials__slide-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.testimonials__column {
  width: 48%; }
  .testimonials__column--with-border {
    border: 1px solid #E75F25;
    border-radius: 2px; }

.testimonials__slide-image {
  position: relative; }
  .testimonials__slide-image img {
    position: relative;
    width: 100%;
    max-width: 160px;
    height: auto;
    max-height: auto;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: 2px 2px 0 0; }

.testimonials__slide-author {
  padding: 8px;
  font-size: 12px;
  text-align: center; }

.testimonials__slide-title {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 700; }

.testimonials__slide-text {
  font-size: 12px;
  font-weight: 400; }
  .testimonials__slide-text p {
    margin: 0;
    margin-bottom: 4px; }
    .testimonials__slide-text p:last-child {
      margin-bottom: 0; }

@media (min-width: 768px) {
  .testimonials__slide {
    padding: 0 20px; } }

@media (min-width: 1440px) {
  .testimonials {
    padding-top: 80px;
    padding-bottom: 80px; }
  .testimonials__title {
    margin-bottom: 48px; }
  .testimonials__slider .slick-arrow {
    width: 34px;
    height: 45px;
    z-index: 1; }
  .testimonials__slide {
    padding: 0 37px; }
  .testimonials__column {
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
    .testimonials__column--with-border {
      width: 240px;
      max-width: 240px;
      margin-right: 34px;
      border-radius: 6px; }
  .testimonials__slide-image img {
    max-width: none;
    border-radius: 6px 6px 0 0; }
  .testimonials__slide-author {
    padding: 16px;
    font-size: 22px; }
  .testimonials__slide-title {
    margin-bottom: 16px;
    font-size: 26px; }
  .testimonials__slide-text {
    font-size: 22px; }
    .testimonials__slide-text p {
      margin-bottom: 7px; } }

.title {
  position: relative;
  margin: 0;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 22px;
  font-weight: 700;
  text-align: center; }
  .title--light {
    color: #fff; }

@media (min-width: 1440px) {
  .title {
    font-size: 42px; } }

.top-form {
  width: 100%;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  color: #050505;
  line-height: normal; }

.top-form__title {
  display: block;
  margin-bottom: 24px;
  font-size: 18px;
  text-align: center; }

.top-form__form {
  max-width: 240px;
  text-align: center;
  margin: 0 auto; }

.top-form__input {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 18px;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  color: #E75F25;
  -webkit-transition: border 300ms ease;
  -moz-transition: border 300ms ease;
  transition: border 300ms ease; }
  .top-form__input::-webkit-input-placeholder {
    color: #808080;
    font-weight: 400;
    -webkit-transition: color 300ms ease;
    -moz-transition: color 300ms ease;
    transition: color 300ms ease; }
  .top-form__input:-moz-placeholder {
    color: #808080;
    font-weight: 400;
    -webkit-transition: color 300ms ease;
    -moz-transition: color 300ms ease;
    transition: color 300ms ease; }
  .top-form__input:-ms-input-placeholder {
    color: #808080;
    font-weight: 400;
    -webkit-transition: color 300ms ease;
    -moz-transition: color 300ms ease;
    transition: color 300ms ease; }
  .top-form__input::placeholder {
    color: #808080;
    font-weight: 400;
    -webkit-transition: color 300ms ease;
    -moz-transition: color 300ms ease;
    transition: color 300ms ease; }
  .top-form__input:focus::-webkit-input-placeholder {
    color: #E75F25; }
  .top-form__input:focus:-moz-placeholder {
    color: #E75F25; }
  .top-form__input:focus:-ms-input-placeholder {
    color: #E75F25; }
  .top-form__input:focus::placeholder {
    color: #E75F25; }
  .top-form__input:focus {
    outline: none;
    border-color: #E75F25; }

.top-form__textarea {
  padding: 10px 10px;
  margin-bottom: 7px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 80px;
  max-height: 150px;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400; }
  .top-form__textarea::-webkit-input-placeholder {
    color: #808080;
    font-weight: 400; }
  .top-form__textarea:-moz-placeholder {
    color: #808080;
    font-weight: 400; }
  .top-form__textarea:-ms-input-placeholder {
    color: #808080;
    font-weight: 400; }
  .top-form__textarea::placeholder {
    color: #808080;
    font-weight: 400; }

.top-form__submit {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #ffffff;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border-radius: 20px;
  background-color: #E75F25;
  cursor: pointer;
  text-decoration: none;
  border: none;
  -webkit-box-shadow: 0px 4px 12px rgba(230, 95, 37, 0.5);
          box-shadow: 0px 4px 12px rgba(230, 95, 37, 0.5);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
  width: 100%;
  padding: 9px 20px;
  margin: 0 auto 15px; }
  .top-form__submit:hover, .top-form__submit:active, .top-form__submit:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #c34a16; }
  .top-form__submit:active {
    background-color: #963810; }
  @media (min-width: 1440px) {
    .top-form__submit {
      -webkit-box-shadow: 0px 7.44161px 22.3248px rgba(230, 95, 37, 0.5);
              box-shadow: 0px 7.44161px 22.3248px rgba(230, 95, 37, 0.5); } }

.top-form__checkbox {
  position: absolute;
  z-index: -1;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.top-form__agreement {
  position: relative;
  margin: 0 auto; }
  .top-form__agreement label {
    display: block;
    position: relative;
    padding-left: 13px;
    color: #7f7f7f;
    font-size: 8px;
    font-weight: 400;
    text-align: left;
    cursor: pointer; }
    .top-form__agreement label::before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      left: 0;
      top: 2px;
      background-color: #fff;
      border-radius: 2px;
      border: 1px solid #F0AB52; }
    .top-form__agreement label::after {
      content: '';
      position: absolute;
      width: 7px;
      height: 7px;
      left: 1px;
      top: 2px;
      opacity: 0;
      background-image: url("../images/check-theme.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      -webkit-transition: opacity 300ms ease;
      -moz-transition: opacity 300ms ease;
      transition: opacity 300ms ease; }
    .top-form__agreement label a {
      display: inline-block;
      color: #7f7f7f;
      text-decoration: none; }

.top-form__checkbox:checked + .top-form__a-label::after {
  opacity: 1; }

@media (min-width: 768px) {
  .top-form {
    color: #ffffff; }
  .top-form__agreement label {
    color: #ffffff; } }

@media (min-width: 1440px) {
  .top-form__title {
    font-size: 34px; }
  .top-form__form {
    max-width: 448px; }
  .top-form__input {
    padding: 20px 36px;
    margin-bottom: 16px;
    border-radius: 6px;
    font-size: 32px; }
  .top-form__submit {
    padding: 18px 36px;
    margin-top: 16px;
    margin-bottom: 20px;
    border-radius: 38px;
    font-size: 32px; }
  .top-form__agreement label {
    padding-left: 28px;
    font-size: 14px; }
    .top-form__agreement label::before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      top: 3px;
      border-radius: 4px; }
    .top-form__agreement label::after {
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      left: 1px;
      top: 3px; } }

.top-screen {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  color: #ffffff; }

.top-screen__m-bg {
  padding: 10px 0 54px;
  background-color: #727075;
  background-image: url("../images/top-screen/bg_s.jpg");
  background-size: cover; }

.top-screen__header {
  margin-bottom: 24px; }

.top-screen__title {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  text-align: center; }

.top-screen__subtitle {
  display: none; }

.top-screen__row {
  width: 100%;
  padding: 40px 0 20px; }

.top-screen__triggers {
  padding: 0 10px;
  margin-bottom: 80px; }

@media (min-width: 768px) {
  .top-screen {
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #727075;
    background-image: url("../images/top-screen/bg_m.jpg");
    background-size: cover; }
  .top-screen__m-bg {
    padding: 0;
    background: 0; }
  .top-screen__header {
    margin-bottom: 36px; }
  .top-screen__title {
    margin-bottom: 8px; }
  .top-screen__subtitle {
    display: block;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    text-align: center; }
  .top-screen__row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 624px;
    margin: 0 auto;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .top-screen__col {
    -webkit-box-flex: 0;
       -moz-box-flex: 0;
        -ms-flex: 0 0 280px;
            flex: 0 0 280px; }
  .top-screen__triggers {
    margin: 0; } }

@media (min-width: 1440px) {
  .top-screen {
    padding-top: 40px;
    padding-bottom: 80px;
    background-image: url("../images/top-screen/bg_l.jpg"); }
  .top-screen__header {
    margin-bottom: 48px; }
  .top-screen__title {
    margin-bottom: 8px;
    font-size: 42px; }
  .top-screen__subtitle {
    margin-bottom: 72px;
    font-size: 34px; }
  .top-screen__row {
    max-width: 1280px; }
  .top-screen__col {
    -webkit-box-flex: 0;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .top-screen__triggers {
    max-width: 505px; }
  .top-screen__feedback {
    max-width: 535px; } }

.top-triggers {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  color: #050505;
  line-height: normal; }

.top-triggers__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.top-triggers__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.top-triggers__item {
  margin-bottom: 36px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .top-triggers__item:last-child {
    margin-bottom: 0; }

.top-triggers__image {
  position: relative;
  -webkit-box-flex: 0;
     -moz-box-flex: 0;
      -ms-flex: 0 0 64px;
          flex: 0 0 64px;
  width: 64px;
  height: 64px;
  margin-right: 18px; }
  .top-triggers__image svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    fill: url("#svg-linear-gradient"); }

.top-triggers__item-title {
  display: block;
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: 700; }

.top-triggers__item-text {
  display: block;
  font-size: 14px; }

@media (min-width: 768px) {
  .top-triggers {
    color: #ffffff; } }

@media (min-width: 768px) {
  .top-triggers__item {
    margin-bottom: 72px; }
  .top-triggers__image {
    -ms-flex-preferred-size: 120px;
        flex-basis: 120px;
    width: 120px;
    height: 120px;
    margin-right: 40px; }
  .top-triggers__item-title {
    margin-bottom: 5px;
    font-size: 34px; }
  .top-triggers__item-text {
    font-size: 26px; } }

.grecaptcha-badge {
  display: none; }

.lazyload {
  position: relative;
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  opacity: 0; }

.lazyload.loaded {
  opacity: 1; }

/*# sourceMappingURL=main.css.map */
