.advantages {
    padding-top: 65px;

    flex-flow: $gotham;
    color: $darktext;
}

.advantages__title {
    max-width: 550px;
    margin: 0;
    padding-left: 35px;
    margin-bottom: 50px;

    font-size: 50px;
    line-height: 1.1;
    font-weight: 900;
    text-align: left;
}

.advantages__list {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;

    border: 1px solid #ececec;
    background-color: #ffffff;
}

.advantages__item {
    width: 25%;
    flex: 1 1 auto;
    padding: 65px 33px 50px;

    border-right: 1px solid #ececec;

    &:last-child {
        border-right-width: 0;
    }
}

.advantages__item-icon {
    position: relative;
    width: 42px;
    height: 42px;
    margin: 0 auto 30px;

    img {
        position: absolute;
        width: auto;
        height: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.advantages__item-title {
    margin-bottom: 20px;

    font-size: 18px;
    font-weight: 700;
    line-height: 1.05;
    text-align: center;
}

.advantages__item-text {
    margin: 0;

    font-size: 14px;
    line-height: 1.35;
    color: rgba($darktext, 0.5);
    text-align: center;
}

@media (max-width: 1280px) {
    .advantages {
        padding-top: 95px;
    }

    .advantages__title {
        margin-bottom: 30px;
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .advantages__title {
        margin-bottom: 25px;
        max-width: 400px;

        font-size: 30px;
    }

    .advantages__list {
        flex-wrap: wrap;

        border-bottom: none;
    }

    .advantages__item {
        width: 50%;
        padding-top: 45px;
        padding-bottom: 35px;

        border-bottom: 1px solid #ececec;
    }
}

@media (max-width: 480px) {
    .advantages {
        padding-top: 45px;
    }

    .advantages__title {
        margin-bottom: 25px;
        max-width: 400px;
        padding: 0;

        font-size: 30px;
        text-align: center;
    }

    .advantages__list {
        display: block;

        border: none;
        background-color: transparent;

        .slick-dots {
            padding: 0;
            margin: 0;
            list-style: none;

            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            bottom: -40px;

            li {
                padding: 8px;

                cursor: pointer;

                &.slick-active {
                    button {
                        background-color: #f5a623;
                    }
                }
            }

            button {
                display: block;
                width: 12px;
                height: 11px;

                background-color: rgba(#fff, 0.3);
                border-radius: 50%;

                transition: background 300ms ease;

                border: none;
                padding: 0;
                font-size: 0;
                outline: none;
            }
        }
    }

    .advantages__item {
        width: 50%;
        margin: 2px;
        padding-top: 45px;
        padding-bottom: 35px;
        background-color: #fff;
        border: 1px solid #ececec;
    }

    .advantages__form {
        margin-top: 65px;
    }
}
