mixin advantages()
    +b.SECTION.advantages
        +inner
            +e.H2.title
                | Почему клиенты выбирают нас
            +e.UL.list
                for item, index in advantages
                    +e.LI.item
                        +e.item-icon
                            img(src="images/advantages/advantage" + index + ".svg" , alt="")
                        +e.item-title= item.title
                        +e.P.item-text= item.text
            +e.form
                +main-form