mixin promo()
    +b.SECTION.promo#about
        +inner
            +e.slider
                +e.slide
                    +e.slide-inner
                        +e.content.animated
                            +e.H2.title Студия маникюра
                            +e.text-wrapper
                                +e.P.text
                                    | <b>"О-Ла-Лак"</b> – студия маникюра, куда вы будете приходить не только за красотой, но и особой атмосферой, ведь яркие краски и хорошее настроение всегда идут рука об руку. Мы стремимся подарить своим клиентам незабываемый опыт – такой, который непременно захочется повторить. Почему вы не найдете у нас длинного перечня стандартных салонных услуг? Все просто: мы делаем только маникюр и педикюр, но делаем их отлично. Загляните к нам, и сами все поймете. Кроме того, для нас особенно ценно ваше доверие: мы тщательно следим за чистотой, порядком и уровнем профессионализма наших мастеров. Доброжелательность, стильный интерьер и прекрасный результат, уверены, вас приятно впечатлят.  Ждем в гости!
                        +e.image.animated
                            img(data-lazy="images/promo/promo1.jpg", alt="")
                +e.slide
                    +e.slide-inner
                        +e.content.animated
                            +e.H2.title Студия педикюра
                            +e.text-wrapper
                                +e.P.text
                                    | <b>"О-Ла-Лак"</b> – студия маникюра, куда вы будете приходить не только за красотой, но и особой атмосферой, ведь яркие краски и хорошее настроение всегда идут рука об руку. Мы стремимся подарить своим клиентам незабываемый опыт – такой, который непременно захочется повторить. Почему вы не найдете у нас длинного перечня стандартных салонных услуг? Все просто: мы делаем только маникюр и педикюр, но делаем их отлично. Загляните к нам, и сами все поймете. Кроме того, для нас особенно ценно ваше доверие: мы тщательно следим за чистотой, порядком и уровнем профессионализма наших мастеров. Доброжелательность, стильный интерьер и прекрасный результат, уверены, вас приятно впечатлят.  Ждем в гости!
                        +e.image.animated
                            img(data-lazy="https://picsum.photos/1000/1600?image=1", alt="")
                +e.slide
                    +e.slide-inner
                        +e.content.animated
                            +e.H2.title Студия загара
                            +e.text-wrapper
                                +e.P.text
                                    | <b>"О-Ла-Лак"</b> – студия маникюра, куда вы будете приходить не только за красотой, но и особой атмосферой, ведь яркие краски и хорошее настроение всегда идут рука об руку. Мы стремимся подарить своим клиентам незабываемый опыт – такой, который непременно захочется повторить. Почему вы не найдете у нас длинного перечня стандартных салонных услуг? Все просто: мы делаем только маникюр и педикюр, но делаем их отлично. Загляните к нам, и сами все поймете. Кроме того, для нас особенно ценно ваше доверие: мы тщательно следим за чистотой, порядком и уровнем профессионализма наших мастеров. Доброжелательность, стильный интерьер и прекрасный результат, уверены, вас приятно впечатлят.  Ждем в гости!
                        +e.image.animated
                            img(data-lazy="https://picsum.photos/1000/1600?image=2", alt="")