@import "includes/fonts.scss";
@import "variables.scss";
@import "includes/normalize.scss";
@import "sprite.scss";
@import "../blocks/**/*";

body {
    background-color: #f1f1f1;
}

.lazyload {
    position: relative;
    transition: opacity 300ms ease;
    opacity: 0;
}

.lazyload.loaded {
    opacity: 1;
}