mixin testimonials()
    +b.SECTION.testimonials
        +inner
            +e.content
                +e.H2.title Отзывы
                +e.slider
                    each item, index in testimonials.list
                        +e.slide
                            +e.slide-inner
                                +e.slide-image
                                    img(src='images/testimonials/slide' +   index + '.jpg')
                                +e.slide-author= item.name
                                +e.slide-text
                                    each paragraph in item.text
                                        +e.P= paragraph