mixin testimonials()
    +b.SECTION.testimonials
        +inner
            +e.title
                +title
                    | #{testimonials.title}
            +e.slider
                each item, index in testimonials.list
                    +e.slide
                        +e.slide-inner
                            +e.column.--with-border
                                +e.slide-image
                                    img(src='images/testimonials/slide' + (index + 1) + '.jpg')
                                +e.slide-author= item.name
                            +e.column
                                +e.slide-title= item.title
                                +e.slide-text
                                    each paragraph in item.text
                                        +e.P= paragraph