mixin testimonials()
    +b.SECTION.testimonials
        +inner
            +e.content
                +e.H2.title.fadeInDown.wow(data-wow-delay="0.4s")
                    | Отзывы
                +e.slider
                    each item, index in testimonials.list
                        -var delay = 0.4 + 0.2 * (index+1)
                        +e.slide
                            +e.slide-inner.fadeInDown.wow(data-wow-delay=delay+"s")
                                +e.slide-image
                                    img.lazy(data-src='images/testimonials/slide' +   index + '.jpg')
                                +e.slide-content
                                    +e.slide-author= item.name
                                    +e.slide-text
                                        each paragraph in item.text
                                            +e.P= paragraph