.main-header {
    display: flex;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 25px;

    font-family: $gotham;
}

.main-header__logo {
    position: relative;
    width: 60px;
    height: 111px;
    margin-right: 170px;
    background-color: #fff;

    img {
        @include svg-icon
    }
}

.main-header__navigation {
    flex: auto;
    margin-right: 120px;
}

.main-header__phone {
    position: relative;
    padding-left: 38px;
    margin-left: auto;

    color: $darktext;
    font-size: 18px;
    font-weight: 500;

    transition: color 300ms ease;

    &::before {
        content: '';
        position: absolute;
        width: 23px;
        height: 22px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        background-image: url('../images/call.png');
        background-size: cover;
    }

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: $themecolor;
    }
}

@media (max-width: 1280px) {
    .main-header__navigation {
        display: none;
    }
}

@media (max-width: 768px) {
    .main-header {
        padding: 0 15px;
    }

    .main-header__logo {
        width: 50px;
        height: 80px;
        margin-right: 0;
    }

    .main-header__phone {
        padding-left: 32px;

        font-size: 16px;

        &::before {
            width: 20px;
            height: 19px;
        }
    }
}