mixin main-header()
    +b.HEADER.main-header()
        +e.logo
            img(src='images/logo.svg')
        +e.navigation
            +main-nav
        +e.A.phone(href='tel:+79153454545') +7 915 345 45 45