.map {
    position: relative;
    font-family: $gotham;
    color: $darktext;
}

.map__inner {
    height: 745px;
    max-width: 1920px;
    margin: 0 auto;

    // background-image: url('../images/map.jpg');
    // background-size: cover;
    // background-position: center;
}

.map__data {
    position: absolute;
    width: 378px;
    background-color: $themecolor;
    top: 36px;
    left: 36px;
}

.map__logo {
    position: relative;
    width: 100%;
    height: 386px;
    background-color: #fff;
}

.map__addresses {
    padding: 50px 20px;
}

.map__address {
    position: relative;
    display: inline-block;
    padding: 13px 48px 13px 20px;
    margin-bottom: 15px;

    font-size: 14px;
    text-decoration: none;
    color: rgba($color: $lighttext, $alpha: 0.7);

    border-radius: 22px;

    transition: color 300ms ease, background-color 300ms ease;

    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        top: 50%;
        right: 33px;
        transform: rotate(45deg) translateY(-75%);

        border: 1px solid rgba($color: $lighttext, $alpha: 0.7);
        border-left-width: 0;
        border-bottom-width: 0;

        transition: border 300ms ease;
    }

    &:hover,
    &:active,
    &:focus {
        background-color: #fff;
        color: #f5a623;
        text-decoration: none;

        &::after {
            border-color: #f5a623;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 1024px) {
    .map__inner {
        height: 500px;
    }

    .map__data {
        width: 288px;
        top: 18px;
        left: 18px;
    }

    .map__logo {
        height: 242px;
    }

    .map__addresses {
        padding: 20px 10px;
    }

    .map__address {
        padding: 10px 48px 10px 15px;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .map__data {
        width: 205px;
        top: 10px;
        left: 10px;
    }

    .map__address {
        padding: 7px 38px 7px 5px;
        margin-bottom: 5px;

        &::after {
            width: 8px;
            height: 8px;
            right: 26px;
        }
    }
}

@media (max-width: 480px) {
    .map {
        position: relative;
        padding-top: 40px;
    }

    .map__inner {
        height: 380px;
    }

    .map__logo {
        display: none;
    }

    .map__data {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
    }
}
