mixin map(id)
    +b.map(id='#{id}')
        +e.inner#map
        +e.data.fadeInDown.wow(data-wow-delay="0.4s")
            +e.logo
                img(src="images/logo-theme.svg", alt="Olalak")
            +e.addresses
                +e.address Ул. Ленина, 15
                +e.address Ул. Московская,  22
                +e.address Ул. Ленина, 15