mixin top-form()
    +b.SECTION.top-form
        +e.H3.title Заполните заявку сейчас и получите бесплатную консультацию
        +e.FORM.form(method='post' action='/sendform.php')
            +e.INPUT.input(type='text' placeholder='Имя' name='name')
            +e.INPUT.input(type='text' placeholder='+7 999 ___-__-__' name='phone' data-inputmask="'mask': '+7 (999) 999 99 99'" required)
            +e.BUTTON.submit(type='submit') Бесплатная консультация
            +e.agreement
                +e.INPUT.checkbox(type='checkbox' id='a-checkbox' name='feedback-a-checkbox' checked required)
                //- +e.LABEL.a-label(for='a-checkbox')
                //-     | Подтверждаю, что я ознакомлен с <a href='#modalLegal', data-toggle='modal', data-target='#modalLegal')>Политикой конфиденциальности</a> и даю свое согласие на сбор и обработку персональных данных
                +e.LABEL.a-label(for='a-checkbox')
                    | Подтверждаю, что я ознакомлен с политикой конфиденциальности и даю свое согласие на сбор и обработку персональных данных