.works {
    font-family: $gotham;
    color: $darktext;
}

.works__content {
    position: relative;
    padding: 90px 40px 38px;

    background-color: #fff;
}

.works__title {
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 75px;
    margin: 0;

    font-size: 55px;
    line-height: 1.1;
    font-weight: 900;
    text-transform: uppercase;
}

.works__slider {
    width: 100%;

    .slick-dots {
        padding: 0;
        margin: 0;
        list-style: none;

        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        right: -100px;

        li {
            padding: 8px;

            cursor: pointer;

            &.slick-active {
                button {
                    background-color: #f5a623;
                }
            }
        }

        button {
            display: block;
            width: 12px;
            height: 11px;

            background-color: rgba(#fff, 0.3);
            border-radius: 50%;

            transition: background 300ms ease;

            border: none;
            padding: 0;
            font-size: 0;
            outline: none;
        }
    }

    .custom-dots {
        padding: 0;
        margin: 0;
        list-style: none;

        position: absolute;
        display: flex;
        align-items: flex-end;
        top: -60px;
        right: 20px;

        li {
            padding: 8px;

            cursor: pointer;

            &.slick-active {
                button {
                    height: 7px;
                    background-color: $themecolor;
                }
            }

            &.slick-active+li {
                button {
                    background-color: rgba($themecolor, 0.6);
                }
            }
        }

        button {
            display: block;
            width: 43px;
            height: 4px;

            background-color: rgba($themecolor, 0.33);

            transition: background 300ms ease, height 300ms ease;

            border: none;
            padding: 0;
            font-size: 0;
            outline: none;
        }
    }
}

.works__slide {
    outline: none;
}

.works__images {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0 -11px;

    &::before {
        content: "";
        position: relative;
        width: 498px;
        margin-right: 11px;
        flex: 0 0 auto;
        margin: 0 11px 22px;
    }
}

.works__image {
    position: relative;
    flex: 0 0 auto;
    width: 238px;
    height: 238px;
    margin: 0 11px 22px;

    cursor: initial;

    img {
        position: absolute;
        @include img;
    }

}

.works__more {
    display: none;
}

@media (max-width: 1280px) {
    .works__title {
        left: 125px;
    }

    .works__slider {
        .slick-dots {
            right: -80px;
        }

        .custom-dots {
            top: -45px;
        }
    }

    .works__content {
        padding: 60px 40px 25px;
    }

    .works__images {
        &::before {
            width: 438px;
        }
    }

    .works__image {
        width: 208px;
        height: 208px;
    }
}

@media (max-width: 1024px) {
    .works__content {
        max-width: 768px;
        padding: 40px 20px 15px;
        margin: 0 auto;
    }

    .works__slider {
        .slick-dots {
            right: -60px;
        }
    }

    .works__title {
        position: relative;
        left: 50px;
        top: 0;
        margin-bottom: 20px;

        font-size: 40px;
    }

    .works__images {
        &::before {
            display: none;
            width: 0;
        }
    }

    .works__image {
        width: 208px;
        height: 208px;
    }
}

@media (max-width: 768px) {
    .works__content {
        max-width: 480px;
        padding: 25px 20px 15px;
    }

    .works__slider {
        .slick-dots {
            right: -50px;
        }

        .custom-dots {
            display: none;
        }
    }

    .works__title {
        position: relative;
        left: 0;
        top: 0;
        margin-bottom: 20px;

        font-size: 32px;
        text-align: center;
    }

    .works__images {
        justify-content: center;
    }

    .works__image {
        width: 168px;
        height: 168px;
        margin: 0 7px 14px;
    }
}

@media (max-width: 480px) {
    .works__title {
        font-size: 28px;
    }

    .works__image {
        width: 238px;
        height: 238px;
        margin: 0 0 12px;

        cursor: pointer;
    }

    .works__slide:not(:first-child) {
        display: none;
    }

    .works__image:nth-child(n+3) {
        display: none;
    }

    .works__more {
        @include btn-theme;
        width: 250px;
        margin: 24px auto;
        padding: 11px 20px;

        font-size: 16px;
    }
}
