mixin works()
    +b.SECTION.works(id='works')
        +inner
            +e.content
                +e.H2.title.fadeIn.wow
                    | Наши<br> работы
                +e.slider
                    +e.slide
                        +e.images
                            +e.A.image.fadeInDown.wow(data-wow-delay="0.2s" href='images/works/work1.jpg' data-fancybox="gallery" rel='works')
                                img.lazy(data-lazy="images/works/work1.jpg", alt="")
                            +e.A.image.fadeInDown.wow(data-wow-delay="0.4s" href='images/works/work2.jpg' data-fancybox="gallery" rel='works')
                                img.lazy(data-src="images/works/work2.jpg", alt="")
                            +e.A.image.fadeInDown.wow(data-wow-delay="0.6s" href='images/works/work3.jpg' data-fancybox="gallery" rel='works')
                                img.lazy(data-src="images/works/work3.jpg", alt="")
                            +e.A.image.fadeInDown.wow(data-wow-delay="0.8s" href='images/works/work4.jpg' data-fancybox="gallery" rel='works')
                                img.lazy(data-src="images/works/work4.jpg", alt="")
                            +e.A.image.fadeInDown.wow(data-wow-delay="1s" href='images/works/work5.jpg' data-fancybox="gallery" rel='works')
                                img.lazy(data-src="images/works/work5.jpg", alt="")
                            +e.A.image.fadeInDown.wow(data-wow-delay="1.2s" href='images/works/work6.jpg' data-fancybox="gallery" rel='works')
                                img.lazy(data-src="images/works/work6.jpg", alt="")
                    +e.slide
                        +e.images
                            +e.A.image(href='https://picsum.photos/290/290?image=1' data-fancybox="gallery" rel='works')
                                img.works-lazy(data-src="https://picsum.photos/290/290?image=1", alt="")
                            +e.A.image(href='https://picsum.photos/290/290?image=2' data-fancybox="gallery" rel='works')
                                img.works-lazy(data-src="https://picsum.photos/290/290?image=2", alt="")
                            +e.A.image(href='https://picsum.photos/290/290?image=3' data-fancybox="gallery" rel='works')
                                img.works-lazy(data-src="https://picsum.photos/290/290?image=3", alt="")
                            +e.A.image(href='https://picsum.photos/290/290?image=4' data-fancybox="gallery" rel='works')
                                img.works-lazy(data-src="https://picsum.photos/290/290?image=4", alt="")
                            +e.A.image(href='https://picsum.photos/290/290?image=5' data-fancybox="gallery" rel='works')
                                img.works-lazy(data-src="https://picsum.photos/290/290?image=5", alt="")
                            +e.A.image(href='https://picsum.photos/290/290?image=6' data-fancybox="gallery" rel='works')
                                img.works-lazy(data-src="https://picsum.photos/290/290?image=6", alt="")
                +e.A.more(href='#') Больше работ