.top-screen {
    position: relative;
    padding-top: 25px;
    padding-bottom: 100px;
    height: 100vh;
    min-height: 755px;
    max-height: 900px;

    font-family: $gotham;

    background-image: linear-gradient(to right, #77112c 0%, #77112c 38%, transparent 38%);
}

.top-screen__header {
    margin-bottom: 5px;
}

.top-screen__content {
    position: relative;
    padding: 0 30px;
}

.top-screen__image {
    max-width: 697px;
    max-height: 463px;
    border: 14px solid white;
    overflow: hidden;

    img {
        @include img;
    }
}

.top-screen__title {
    position: absolute;
    z-index: 2;
    max-width: 420px;
    margin: 0;
    top: 150px;
    right: 115px;

    color: #000;
    font-size: 64px;
    line-height: 1.1;
    font-weight: 900;
    text-transform: uppercase;
}

.top-screen__logo {
    width: 401px;
    height: 381px;
    position: absolute;
    right: 0;
    bottom: -60%;
    z-index: 1;

    img {
        @include img;
        width: auto;
    }
}

.top-screen__socials {
    position: absolute;
    right: -7%;
    top: 50%;
    z-index: 2;
    transform: rotate(-270deg);
}

@media (max-width: 1400px) {
    .top-screen__socials {
        right: -10%;
    }
}

@media (max-width: 1280px) {
    .top-screen {
        min-height: 500px;
        max-height: 620px;

        background-image: linear-gradient(to right, #77112c 0%, #77112c 40%, transparent 40%);
    }

    .top-screen__header {
        margin-bottom: 25px;
    }

    .top-screen__image {
        max-width: 490px;
        max-height: 380px;
        border-width: 8px;
    }

    .top-screen__title {
        top: 50px;
        right: 25%;

        font-size: 50px;
    }

    .top-screen__logo {
        width: 300px;
        height: 320px;
        right: 150px;
        bottom: -55%;
    }

    .top-screen__socials {
        top: 60%;
        right: -10%;
    }
}

@media (max-width: 1100px) {
    .top-screen__title {
        right: 15%;
    }

    .top-screen__logo {
        right: 50px;
        bottom: -75%;
    }
}

@media (max-width: 768px) {
    .top-screen {
        min-height: 350px;
        max-height: 500px;
        padding-bottom: 50px;
    }

    .top-screen__image {
        max-width: 380px;
        max-height: 260px;
        border-width: 6px;
    }

    .top-screen__logo {
        width: 210px;
        height: 260px;
        right: 60px;
        bottom: -110%;
    }

    .top-screen__title {
        right: 55px;

        font-size: 40px;
        text-align: right;
    }

    .top-screen__socials {
        right: -17%;
    }
}

@media (max-width: 480px) {
    .top-screen {
        height: auto;
        min-height: auto;
        max-height: none;
        padding-top: 15px;
    }

    .top-screen__content {
        padding: 0;
        padding-top: 35px;
    }

    .top-screen__image {
        position: relative;
        left: -15%;
        width: 100%;
    }

    .top-screen__title {
        width: auto;
        right: 0;
        left: 10%;
        text-align: left;
        top: 55%;

        text-shadow: 0 1px 2px #fff;
    }

    .top-screen__logo {
        display: none;
    }

    .top-screen__socials {
        top: 70px;
        right: 15px;
        left: auto;
        transform: none;
        max-width: 380px;
        margin: 0 auto;
    }
}