mixin top-screen()
    +b.SECTION.top-screen
        +e.header
            +main-header
        +inner
            +e.content
                +e.image
                    img(src='images/top-screen/intro.jpg')
                +e.H1.title Студия маникюра
                +e.logo
                    img(src='images/top-screen/logo.svg')
        +e.socials
            +socials
