mixin interior()
    +b.SECTION.interior
        +inner
            +e.H2.title Интерьер
            +e.slider
                +e.slide
                    +e.image
                        img(src="images/interior/interior0.jpg", alt="")
                +e.slide
                    +e.image
                        img(src="images/interior/interior1.jpg", alt="")
                +e.slide
                    +e.image
                        img(src="images/interior/interior2.jpg", alt="")
                +e.slide
                    +e.image
                        img(src="images/interior/interior3.jpg", alt="")
                //- +e.slide
                //-     +e.image
                //-         img(src="images/interior/interior0.jpg", alt="")
                //- +e.slide
                //-     +e.image
                //-         img(src="images/interior/interior1.jpg", alt="")
                //- +e.slide
                //-     +e.image
                //-         img(src="images/interior/interior2.jpg", alt="")
                //- +e.slide
                //-     +e.image
                //-         img(src="images/interior/interior3.jpg", alt="")