mixin interior()
    +b.SECTION.interior
        +inner
            +e.H2.title.fadeInDown.wow(data-wow-delay="0.4s")
                | Интерьер
            +e.slider
                +e.slide
                    +e.image.fadeInDown.wow(data-wow-delay="0.8s")
                        img.lazy(data-src="images/interior/interior1.jpg", alt="")
                +e.slide
                    +e.image.fadeInDown.wow(data-wow-delay="1.2s")
                        img.lazy(data-src="images/interior/interior2.jpg", alt="")
                +e.slide
                    +e.image.fadeInDown.wow(data-wow-delay="1.6s")
                        img.lazy(data-src="images/interior/interior3.jpg", alt="")