.prices {
    padding-top: 40px;
    padding-bottom: 40px;

    font-family: $gotham;
    color: $darktext;
    line-height: normal;
}

.prices__title {
    margin-bottom: 24px;
}

.prices__content {
    width: 100%;
}

.prices__table {
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }
}

.prices__table-title {
    margin-bottom: 16px;

    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.prices__table-wrapper {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.prices__table-data {
    position: relative;
    display: block;
    width: 100%;

    background-color: #aaa;
    overflow: hidden;
    border-collapse: collapse;
}

.prices__table-header {
    position: relative;
    display: block;
    width: 100%;
    overflow: visible;

    th {
        padding: 10px;
        background-color: $themecolor;
        border: 2px solid white;
        min-width: 190px;

        font-size: 12px;
        font-weight: 700;
        text-align: center;
        color: $lighttext;

        &:first-child {
            position: relative;
            min-width: 105px;
            box-shadow: 0 0 0 1px white;
            border-left-width: 0;
        }
    }
}

.prices__table-body {
    position: relative;
    display: block;
    width: 100%;
    margin-top: -2px;
    height: 439px;
    overflow: scroll;
}

.prices__table-cell {
    $this: &;

    background-color: #FCFCFC;
    border: 2px solid white;
    min-width: 190px;

    font-size: 12px;

    &:nth-child(1) {
        position: relative;
        background-color: #F2F2F2;
        min-width: 105px;
        box-shadow: 0 0 0 1px white;
        border-left-width: 0;
    } 

    &:nth-child(2) {
        .prices__cell-data {
            text-align: left;
        }
    }

    &#{$this}--no-padding {
        padding: 0;
    }
}

.prices__table-data--type1 {
    .prices__table-cell {
        &:nth-child(1) {
            font-size: 14px;
            font-weight: 700;
        }
        &:nth-child(2) {
            font-size: 10px;
        }
    }
}

.prices__cell-data {
    display: block;
    padding: 10px;

    text-align: center;
}

.prices__cell-data-item {
    display: block;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

.prices__inner-table {
    width: 100%;
    height: 100%;

    // tbody, tr, td {
    //     width: 100%;
    // }

    tr:nth-child(2n) {
        td {
            background-color: #ffffff;
        }
    }
}

.prices__inner-cell {
    padding: 12px 16px;

    font-size: 12px;
    text-align: center; 
}

.prices__additional {
    font-size: 12px;
    font-weight: 400;
}

.prices__additional-paragraph {
    margin: 0;
    margin-bottom: 12px;

    &:last-child {
        margin-bottom: 0;
    }
}

@media #{$tablet} {
    .prices__table-data {
        display: table;
        width: 100%;
        overflow-y: auto;
        table-layout: fixed;
    }

    .prices__table-cell {
        display: table-cell;
    }
    
    
    .prices__table-header {
        display: table-header-group;
        
        th {
            padding: 16px;

            &:first-child {
                width: 160px;
            }

            &:nth-child(2) {
                width: 305px;
            }
        }
    }
    
    .prices__table-body {
        display: table-row-group;
    }

    .prices__table-row {
        display: table-row;
        width: 100%;
    }

    .prices__table-cell {
        padding: 16px;

        &:first-child {
            width: 160px;
        }

        &:nth-child(2) {
            width: 305px;
        }
    }
}

@media #{$desktop} {
    .prices {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .prices__title {
        margin-bottom: 48px;
    }

    .prices__table-title {
        margin-bottom: 32px;

        font-size: 32px;
    }

    .prices__table {
        margin-bottom: 80px;
    }

    .prices__table-wrapper {
        margin-bottom: 40px;
    }

    .prices__table-header {
        th {
            padding: 16px 30px;
            
            border: 3px solid white;
            
            font-size: 22px;

            &:first-child {
                width: 295px;
            }

            &:nth-child(2) {
                width: 567px;
            }
        }
    }

    .prices__table-cell {
        border: 3px solid white;

        font-size: 22px;
    }

    .prices__table-data--type1 {
        .prices__table-cell {
            &:nth-child(1) {
                font-size: 26px;
            }

            &:nth-child(2) {
                font-size: 18px;
            }
        }
    } 

    .prices__table-data--type2 {
        .prices__table-header {
            th {
                padding: 28px;

                &:nth-child(2) {
                    width: 440px;
                }

                &:nth-child(3) {
                    width: 268px;
                }
            }

        }
    }

    .prices__cell-data-item {
        margin-bottom: 18px;
    }

    .prices__inner-cell {
        font-size: 22px;
    }

    .prices__additional {
        font-size: 22px;
    }

    .prices__additional-paragraph {
        margin-bottom: 20px;
    }
}

