.prices {
    padding-top: 45px;
    padding-bottom: 80px;

    font-family: $gotham;
    color: $darktext;
}

.prices__content {
    display: flex;
}

.prices__heading {
    width: 47%;

    background-image: url('../images/prices/bg.jpg');
    background-size: cover;
    background-position: bottom right;
}

.prices__title {
    padding: 65px 50px 0;

    font-size: 55px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
}

.prices__slider {
    width: 53%;
    background-color: #fff;    
}

.prices__table {
    padding: 50px 45px;
}

.prices__table-row {
    position: relative;
    margin-bottom: 0;

    display: flex;
    align-items: baseline;
    padding: 24px 50px;

    color: $themecolor;
    font-size: 20px;
    font-weight: 700;

    border-radius: 40px;

    transition: background 300ms ease, color 300ms ease;

    &:hover {
        background-color: $themecolor;
        color: #fff;

        .prices__divider {
            border-color: #fff;
        }
    }

    &::after {
        content: '';
        position: absolute;
        width: calc(100% - 100px);
        height: 1px;
        left: 50px;
        bottom: 0;

        background-color: rgba(#5b5852, 0.1);
    }

    &:last-child::after {
        display: none;
    }
}

.prices__service {
    margin-right: 15px;
    flex: 0 0 auto;
}

.prices__price {
    margin-left: 15px;
    flex: 0 0 auto;
}

.prices__divider {
    flex: 1 1 auto;
    border-bottom: 1px dashed #ccc;

    transition: border 300ms ease;
}


