mixin prices()
    +b.SECTION.prices(id='prices')
        +inner
            +e.content.fadeInDown.wow(data-wow-delay="0.4s" data-wow-offset='300')
                +e.heading
                    +e.title Cтоимость услуг
                +e.slider.fadeInDown.wow(data-wow-delay="0.8s" data-wow-offset='300')
                    each table in prices
                        +e.slide.animated
                            +e.table
                                each row in table
                                    +e.table-row
                                        +e.service= row.service
                                        +e.divider
                                        +e.price= row.price