mixin prices()
    +b.SECTION.prices
        +inner
            +e.content
                +e.heading
                    +e.title Cтоимость услуг
                +e.slider
                    +e.slide
                        +e.table
                            each row in prices
                                +e.table-row
                                    +e.service= row.service
                                    +e.divider
                                    +e.price= row.price