mixin prices()
    +b.SECTION.prices
        +inner
            +e.content
                +e.heading
                    +e.title Cтоимость услуг
                +e.slider
                    each table in prices
                        +e.slide.animated
                            +e.table
                                each row in table
                                    +e.table-row
                                        +e.service= row.service
                                        +e.divider
                                        +e.price= row.price